{% macro render_field(field, custom_class) %}
  <div class="form-group {% if field.errors %} has-error {% endif %}">
    {% if field.type != "SubmitField" %}
      <div class="col-sm-2 control-label">
        {{ field.label }}{% if field.flags.required %}*{% endif %}
      </div>
      <div class="col-sm-10">
        {{ field(class_="form-control", **kwargs)|safe }}
        {% if field.errors %}
          <ul id="{{field.id}}" class="help-block errors">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% else %}
      <div class="col-sm-offset-2 col-sm-10">
        {{ field(**kwargs) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}
