{% extends "base.html" %}

{% block title %}
  Delete category {{ category.name }}
{% endblock %}

{% block content %}
  {% include "catalog/commons/category.html" %}
  <h2 class="item">Delete <strong>{{ category.name }}</strong></h2>

  {% from "commons/helpers/_form.html" import render_field %}
  <form class="form-horizontal" action="{{ url_for('deleteCategory', category_id=category.id) }}" method="post">
    <p>Are you sure you want to delete <strong>{{ category.name }}</strong> and <strong>all its items</strong>?</p>

    {{ form.category_id }}
    {{ render_field(form.submit, class_="btn btn-danger")  }}
  </form>
{% endblock %}
