{% extends "base.html" %}

{% block title %}
  Edit category {{ category.name }}
{% endblock %}

{% block content %}
  {% include "catalog/commons/category.html" %}
  <h2 class="item">Edit category <strong>{{ category.name }}</strong></h2>

  {% from "commons/helpers/_form.html" import render_field %}
  <form class="form-horizontal" action="{{ url_for('editCategory', category_id=category.id) }}" method="post">
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ form.category_id }}
    {{ render_field(form.submit, class_="btn btn-warning") }}
  </form>
{% endblock %}
