{% extends "base.html" %}

{% block title %}
  New category
{% endblock %}

{% block content %}
  {% include "catalog/commons/category.html" %}
  <h2>New category</h2>

  {% from "commons/helpers/_form.html" import render_field %}
  <form class="form-horizontal" action="{{ url_for('newCategory') }}" method="post">
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ form.category_id }}
    {{ render_field(form.submit, class_="btn btn-primary") }}
  </form>
{% endblock %}
