{% extends "base.html" %}

{% block title %}
  {% if category %}
    {{ category.name }}
  {% else %}
    Home
  {% endif %}
{% endblock %}

{% block content %}
  {% if category %}
    <h1 class="text-center">
      {{ category.name }}
      {% if session.user_id == category.user_id %}
        <small>
          <a href="{{ url_for('editCategory', category_id=category.id) }}" title="Edit category"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
          <a href="{{ url_for('deleteCategory', category_id=category.id) }}" title="Delete category"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </small>
      {% endif %}
    </h1>
    <p>{{ category.description if category.description }}</p>
  {% else %}
    <h1 class="text-center">Catalog</h1>
  {% endif %}
  <hr>
  <p class="{{ 'text-center' if not session.user_id }}">
    <span class="h1">{{ items }}</span> <span class="h4">item{{'s' if items > 1}}</span>
    {% if session.user_id %}
      <span class="pull-right">
        {% if not category %}
          <a href="{{ url_for('newCategory') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Category</a>
        {% endif %}
        <a href="{% if category %} {{ url_for('newItem', category_id=category.id) }} {% else %} {{ url_for('newItem') }} {% endif %}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New item</a>
      <span>
    {% endif %}
  </p>
  <hr>
  {% if items %}
    <h2>Items</h2>
    <div id="items"></div>
  {% endif %}

  <button type="button" id="moreItemsButton" class="btn btn-primary" onclick="loadItems()" style="display: none;">
    More items
  </button>

{% endblock %}

{% block javascript %}
<script>
  function loadItems(category_id, offset) {
    /* Request the catalog and parse the answer (JSON) to generate items */

    /* Set the category and offset used to retrieve the catalog */
    var category_id = "{{category.id if category}}";
    var offset = $('#items .item').length;

    /* Request the catalog */
    $.getJSON("/catalog.json", { category_id, offset }, function(data) {
      var items = [];
      var total_items = parseInt('{{ items }}');
      current_item_id = offset

      /* Generate each item */
      $.each(data, function(key, item) {
        current_item_id = offset + key + 1;

        itemTitle = HTMLItemTitle.replace("%data%", item.name);
        itemTitle = itemTitle.replace("%item_id%", item.id);
        itemTitle = itemTitle.replace("%category_id%", item.category.id);

        itemDatas = HTMLItemDatas.replace("%data%", "in <strong><a href='/catalog/"+item.category.id+"/items'>"+item.category.name + "</a></strong> added by <img src='"+ item.user.picture+"' title='"+ item.user.name+"\'s picture' width='20'> <strong>" + item.user.name +"</strong>");

        itemFinal = HTMLItem.replace("%data%", itemTitle + itemDatas);

        items.push(itemFinal);
      });

      /* Add items to the DOM */
      $(items.join("")).appendTo('#items').hide().fadeIn(300);

      /* If there is no more items, "More items" button is removed */
      if (current_item_id === total_items) {
        $('#moreItemsButton').remove();
      } else {
        $('#moreItemsButton').show();
      }
    });
  };

  $(document).ready(function() {
    loadItems();
  });
</script>
{% endblock %}
