<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="830543614755-1v2v3a3c28ufa6oi1ac10kqs6l7fusqn.apps.googleusercontent.com">
    <title>UCatalog // {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>
    {% include "commons/header.html" %}
    <div class="container-fluid">

      <div class="categories-list row">
        <!-- CATEGORIES -->
        <div class="cl-menu hidden-xs col-sm-3">
          {% include "commons/menu.html" %}
        </div>

        <!-- CONTENT / ITEMS -->
        <div class="list-items col-xs-12 col-sm-9">
          {% include "commons/breadcrumb.html" %}
          {% include "commons/flash.html" %}

          {% block content %}
          {% endblock %}
        </div>
      </div>

    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="/static/js/scripts.js"></script>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
