{% extends "base.html" %}

{% block title %}
Sign in
{% endblock %}

{% block content %}
  <h1 class="text-center">Sign in</h1>
  <p>Click on the button bellow to sign in with your Google account</p>
  <div class="g-signin2 text-center" data-theme="dark" data-onsuccess="onSignIn"></div>
{% endblock %}

{% block javascript %}
<script>
  // G+ Sign in the user then redirect to the server
  function onSignIn(googleUser) {
    var token = googleUser.getAuthResponse().id_token;

    $.ajax({
      type: 'POST',
      url: '/gconnect',
      contentType: 'application/x-www-form-urlencoded',
      data: {
        token,
        state: '{{ STATE }}'
      },
      success: function(result) {
        window.location.href = "/catalog";
      },
      error: signOut('/login')
    });
  }
</script>
{% endblock %}
