{% extends "base.html" %}

{% block title %}
  Delete item {{ item.name }}
{% endblock %}

{% block content %}
  {% include "item/commons/category.html" %}

  <h2 class="item">Delete item <strong>{{ item.name }}</strong></h2>

  {% from "commons/helpers/_form.html" import render_field %}
  <form action="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}" method="post">
    <p>Are you sure you want to delete <strong>{{ item.name }}</strong> ?</p>

    {{ form.category_id }}
    {{ form.item_id }}
    {{ render_field(form.submit, class_="btn btn-danger")  }}
  </form>
{% endblock %}
