{% extends "base.html" %}

{% block title %}
  Edit item
{% endblock %}

{% block content %}
  {% include "item/commons/category.html" %}

  <h2 class="item">Edit item <strong>{{ item.name }}</strong></h2>
  
  {% from "commons/helpers/_form.html" import render_field %}
  <form class="form-horizontal" action="{{ url_for('editItem', category_id=category.id, item_id=item.id) }}" method="post">
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.category_id) }}
    {{ form.item_id }}
    {{ render_field(form.submit, class_="btn btn-warning") }}
  </form>
{% endblock %}
