{% extends "base.html" %}

{% block title %}
  New item
{% endblock %}

{% block content %}
  {% include "item/commons/category.html" %}

  <h2>New item</h2>

  {% from "commons/helpers/_form.html" import render_field %}
  {% if category %}
    <form class="form-horizontal" action="{{ url_for('newItem', category_id=category.id) }}" method="post">
  {% else %}
    <form class="form-horizontal" action="{{ url_for('newItem') }}" method="post">
  {% endif %}
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.category_id) }}
    {{ render_field(form.submit, class_="btn btn-primary") }}
  </form>
{% endblock %}
