{% extends "base.html" %}

{% block title %}
  {{ item.name }}
{% endblock %}

{% block content %}
  {% include "item/commons/category.html" %}

  <h2 class="h1">{{ item.name }}

    {% if session.user_id == item.user_id %}
    <!-- Item EDIT/DELETE buttons -->
      <small>
        <a href="{{ url_for('editItem', category_id=category.id, item_id=item.id) }}" title="Edit item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        <a href="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}" title="Delete item"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </small>
    {% endif %}

  </h2>

  <p>{{ item.description if item.description }}</p>
  
  <hr>
  <p class="text-right item">Item created on <i>{{ item.created.strftime("%F") }}</i> by <strong><img src="{{ item.user.picture }}" title="{{item.user.name}}'s picture" width="20"> {{ item.user.name }}</strong> </p>
{% endblock %}
