@import 'custom_variables';
@import 'bootstrap';

/* GENERAL */
.btn {
  border-width: 0 0 3px;
}

/* TOP */
.navbar {
  margin-top: $padding-base-vertical;

  .navbar-nav {
    a:hover {
      text-decoration: underline;
    }
  }

  .navbar-brand {
    font-size: $font-size-h3;
    padding-top: $padding-base-vertical;
  }
}

/* LEFT SIDE */
.categories-list {
  background-color: $blue;
  color: $blue-lighter;

  .cl-menu {
    &.hidden-xs ul {
      padding-left: $line-height-computed;
    }

    li {
     list-style-type: none;

     &.button {
       width: 70%;
     }
    }

    a {
      color: $blue-light2;
      font-size: $font-size-h4;

      &:hover {
        color: $blue-lighter;
      }
    }

    .btn-default {
      background-color: $blue-dark;
      border-color: $blue-darker;
      color: $blue-lighter;

      &:hover,
      &:focus,
      &:active {
        background-color: $blue-darker;
      }
    }
  }
}

/* RIGHT SIDE */
.list-items {
  background-color: $gray-white;
  color: $gray-darker;

  min-height: 90vh;
  padding-bottom: 20px;

  a {
    color: $gray-darker;

    &.btn {
      color: $gray-white;
    }
  }

  h1, h2 {
    small {
      font-size: $font-size-large;

      a {
        color: $gray-light2;

        &:hover,
        &:focus,
        &:active {
          color: $gray-light;
        }
      }
    }
  }

  h2 {
    border-bottom: 1px dotted $gray-light;
  }

  .breadcrumb {
    border-radius: 0;
    margin: 0 -15px 15px -15px;
  }

  #items {
    margin-bottom: $padding-large-horizontal;

    .item {
      &:nth-child(odd) {
        background-color: darken($gray-white, 2%);
      }
    }
  }

  .item {
    h3, p {
      display: inline-block;
      padding: 0 10px;
    }

    strong {
      color: $blue-dark;

      a,
      a:hover {
        color: $blue-dark;
      }
    }
  }
}
