{% if category %}
  <h1 class="text-center">{{ category.name }}
    {% if (session.user_id == category.user_id and category and (request.path == url_for('showCategory', category_id=category.id))) %} %}
      <small>
        <a href="{{ url_for('editCategory', category_id=category.id) }}" title="Edit category"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        <a href="{{ url_for('deleteCategory', category_id=category.id) }}" title="Delete category"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </small>
    {% endif %}
  </h1>
  {% if (category and (request.path == url_for('showCategory', category_id=category.id))) %}
    <p>{{ category.description }}</p>
  {% endif %}
{% else %}
  <h1 class="text-center">Catalog</h1>
{% endif %}

<p>
  {% if (category and
        (request.path != url_for('showCategory', category_id=category.id))) %}
    <!-- Button "BACK TO CATEGORY" -->
    <a href="{{ url_for('showCategory', category_id=category.id) }}" class="btn btn-primary">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to category
    </a>
  {% else %}
    <!-- Button "BACK TO CATALOG" -->
    <a href="{{ url_for('showCatalog') }}" class="btn btn-primary">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to catalog
    </a>
  {% endif %}
</p>

<hr>
