{% if category %}
  <h1 class="text-center">{{ category.name }}</h1>

  <p>
    {% if (item and
          (request.path != url_for('showItem', category_id=category.id, item_id=item.id))) %}
      <!-- Button "BACK TO ITEM" -->
      <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id) }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to item
      </a>
    {% else %}
      <!-- Button "BACK TO CATEGORY" -->
      <a href="{{ url_for('showCategory', category_id=category.id) }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to category
      </a>
    {% endif %}
  </p>

  <hr>
{% endif %}
