<ol class="breadcrumb">
  <li class="{{ 'active' if category is not defined }}">
    <a href="{{ url_for('showCatalog') }}">Catalog</a>
  </li>
  
  {% if category %}
    <li class="{{ 'active' if item is not defined }}">
      <a href="{{ url_for('showCategory', category_id=category.id) }}">
        {{ category.name }}
      </a>
    </li>
  {% endif %}

  {% if item %}
    <li class="active">
      <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id) }}">
        {{ item.name }}
      </a>
    </li>
  {% endif %}
</ol>
