{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div class="alert alert-danger" role="alert">
      <ul>
        {% for error in errors %}
          <li><strong>Error: {{ error }}</strong></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["success"]) %}
  {% if success %}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
        {% for message in success %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
