<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- Menu Button (XS)  -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-categories" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand" href="{{ url_for('showCatalog') }}">
        <span class="glyphicon glyphicon-book"></span> UCatalog
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling (XS) -->
    <div class="collapse navbar-collapse" id="navbar-categories">
      <ul class="categories-list nav navbar-nav visible-xs">
        <li class="cl-menu dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ url_for('showCatalog') }}">All</a>
            </li>

            {% if categories %}
              {% for c in categories %}
                <li>
                  <a href="{{ url_for('showCategory', category_id=c.id) }}">{{ c.name }}</a>
                </li>
              {% endfor %}
            {% endif %}

            {% if session.idinfo %}
            <li role="separator" class="divider"></li>
            <!-- New category button -->
            <li class="center-block button">
              <a class="btn btn-default" href="{{ url_for('newCategory') }}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New category
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {% if not session.idinfo %}
        <li><a href="{{ url_for('showLogin') }}">Log in</a></li>
      {% else %}
        <li><a href="#"><img src="{{ session.picture }}" alt="Profile picture" width="20"> {{ session.name }}</a></li>
        <li><a href="#" onclick="signOut();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>
