<p class="h2">Categories</p>

<ul>
  <li>
    <a href="{{ url_for('showCatalog') }}">All</a>
  </li>
  {% if categories %}
    {% for c in categories %}
      <li>
        <a href="{{ url_for('showCategory', category_id=c.id) }}">{{ c.name }}</a>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{% if session.user_id %}
  <p>
    <a class="btn btn-block btn-default" href="{{ url_for('newCategory') }}">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New category
    </a>
  </p>
{% endif %}
